--extra-index-url https://download.pytorch.org/whl/cu128

# Core ML packages (Windows will pull from cu128 index, macOS from PyPI) 
#Thos versions are the lastest for MX150 mobile GPU
torch==2.7.1
torchvision==0.22.1 
ultralytics
clip @ git+https://github.com/ultralytics/CLIP.git
timm

# General dependencies
PySide6
opencv-python
numpy
cyndilib

# OS-Specific dependencies
pygrabber; sys_platform == "win32"
onnx; sys_platform == "win32"
onnxruntime-gpu; sys_platform == "win32"
pyobjc-framework-AVFoundation; sys_platform == "darwin"

# Testing dependencies
pytest
pytest-cov
pytest-mock